[submodule "segmentation/erfilter_train"]
	path = segmentation/erfilter_train
    url = https://github.com/DelightRun/erfilter_train.git
[submodule "detection"]
	path = detection
	url = https://github.com/DelightRun/py-faster-rcnn.git
[submodule "localization/pytorch"]
	path = localization/pytorch
	url = https://github.com/hughperkins/pytorch.git
